<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Picture Plus | Dynamic Developers</title>


  <link rel="stylesheet" href="{{ url_for('static', filename='ttstyle.css') }}">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>




<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PhotoPlus</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{{ url_for('upload') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('filters') }}">Filters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('effects') }}">Convert</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('features') }}">Features</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<img src="{{url_for('static',filename=test1)}}" alt="test" width="480px">
<br>
  <div class="slider owl-carousel">
    <div class="card">
      <div class="img">
        <img src="{{url_for('static',filename='XfilterNEG.jpg')}}">
      </div>
      <div class="content">
        
        <div class="btn">
          <form action="/featuresA" method="post" enctype="multipart/form-data" >
            <input class="btn" type="submit" value="Neg">
            <input name="XfilterNEG" type="hidden" >
          </form>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="{{url_for('static',filename='XfilterPix.jpg')}}" alt="">
      </div>
      <div class="content">
        

        <div class="btn">
          <form action="/featuresA" method="post" enctype="multipart/form-data" >
            <input class="btn" type="submit" value="Pixar">
            <input name="XfilterPix" type="hidden" >
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img src="{{url_for('static',filename='XfilterRemoveR.jpg')}}" alt="">
      </div>
      <div class="content">
        

        <div class="btn">

          <form action="/featuresA" method="post" enctype="multipart/form-data" >
            <input class="btn" type="submit" value="Remove R">
            <input name="XfilterRemoveR" type="hidden" >
          </form>
        </div>
      </div>
    </div>




    <div class="card">
      <div class="img">
        <img src="{{url_for('static',filename='XfilterRemoveB.jpg')}}" alt="">
      </div>
      <div class="content">
        

        <div class="btn">

          <form action="/featuresA" method="post" enctype="multipart/form-data" >
            <input class="btn" type="submit" value="Remove B">
            <input name="XfilterRemoveB" type="hidden" >
          </form>
        </div>
      </div>
    </div>



    <div class="card">
      <div class="img">
        <img src="{{url_for('static',filename='no-back.png')}}" alt="">
      </div>
      <div class="content">
        

        <div class="btn">

          <form action="/featuresA" method="post" enctype="multipart/form-data" >
            <input class="btn" type="submit" value="Bg Remover">
            <input name="BgRemove" type="hidden" >
          </form>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="img">
        <img src="{{url_for('static',filename='imgcolor.jpg')}}" alt="">
      </div>
      <div class="content">
        

        <div class="btn">

          <form action="/featuresA" method="post" enctype="multipart/form-data" >
            <input class="btn" type="submit" value="BW to Color">
            <input name="BW2C" type="hidden" >
          </form>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="{{url_for('static',filename='XfilterRemoveG.jpg')}}" alt="">
      </div>
      <div class="content">
     

        <div class="btn">
          
          <form action="/featuresA" method="post" enctype="multipart/form-data" >
            <input class="btn" type="submit" value="Remove G">
            <input name="XfilterRemoveG" type="hidden" >
          </form>
        </div>
      </div>
    </div>






  </div>
  <script>
    $(".slider").owlCarousel({
      loop: true,
      autoplay: true,
      autoplayTimeout: 2000, //2000ms = 2s;
      autoplayHoverPause: true,
    });
  </script>
  <!-- <a class="btn btn-primary" href="#" role="button">Next</a> -->
  <br>
  <a class="btn btn-primary" href="{{ url_for('static', filename='images/test1.jpg') }}" download='output.png'role="button">Download</a>
</body>

</html>
