.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:1024px;
  min-width:200px;
  max-width:1440px;
  margin:auto;
  background-color:rgba(255, 255, 255, 1);
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.Frame-13{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:-20px;
  width:1480px;
  min-width:1480px;
  height:140px;
  margin-top:-21px;
  margin-bottom:905px;
  min-height:140px;
}
.Frame-13-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.Frame-10{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:10px;
  width:1460px;
  min-width:1460px;
  height:120px;
  margin-top:10px;
  margin-bottom:10px;
  min-height:120px;
}
.Frame-10-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.Rectangle-1{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:10px;
  width:1440px;
  min-width:1440px;
  height:100px;
  margin-top:10px;
  margin-bottom:10px;
  min-height:100px;
  background-color:rgba(30, 31, 34, 1);
}
.Rectangle-1-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.Frame-11{
  position:relative;
  z-index:24;
  pointer-events:none;
  margin-left:605px;
  width:77px;
  min-width:77px;
  height:45px;
  margin-top:-997px;
  margin-bottom:952px;
  min-height:45px;
}
.Frame-11-outer{
  pointer-events:none;
  z-index:24;
  position:relative;
  display:flex;
}
.redo{
  position:relative;
  z-index:25;
  pointer-events:none;
  margin-left:12.987012987012987%;
  width:74.02597402597402%;
  height:55.55555555555556%;
  margin-top:12.987012987012987%;
  content:url(assets/images/redo.png);
}
.redo-outer{
  pointer-events:none;
  z-index:25;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Frame-12{
  position:relative;
  z-index:26;
  pointer-events:none;
  margin-left:517px;
  width:72px;
  min-width:72px;
  height:43px;
  margin-top:-996px;
  margin-bottom:953px;
  min-height:43px;
}
.Frame-12-outer{
  pointer-events:none;
  z-index:26;
  position:relative;
  display:flex;
}
.undo{
  position:relative;
  z-index:27;
  pointer-events:none;
  margin-left:13.88888888888889%;
  width:72.22222222222223%;
  height:53.48837209302326%;
  margin-top:13.88888888888889%;
  content:url(assets/images/undo.png);
}
.undo-outer{
  pointer-events:none;
  z-index:27;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Frame-5{
  position:relative;
  z-index:12;
  pointer-events:auto;
  margin-left:1200px;
  width:178px;
  min-width:178px;
  height:40px;
  margin-top:-995px;
  margin-bottom:955px;
  min-height:40px;
  background-color:rgba(44, 125, 250, 1);
  filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius:20px;
}
.Frame-5-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.Group-6{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:11px;
  width:156px;
  min-width:156px;
  height:30px;
  margin-top:5px;
  margin-bottom:5px;
  min-height:30px;
}
.Group-6-outer{
  pointer-events:none;
  z-index:13;
  position:relative;
  display:flex;
}
.download{
  position:relative;
  z-index:14;
  pointer-events:auto;
  margin-left:38px;
  width:118px;
  min-width:118px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:30px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:700;
  font-size:25px;
  letter-spacing:-0.42500001192092896px;
  line-height:30px;
}
.download-outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
.Vector-1{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:0%;
  width:13.461538461538462%;
  height:86.66666666666667%;
  margin-top:1.2820512820512822%;
  content:url(assets/images/Vector_1.png);
}
.Vector-1-outer{
  pointer-events:none;
  z-index:15;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Frame-4{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:291px;
  width:171px;
  min-width:171px;
  height:40px;
  margin-top:-995px;
  margin-bottom:955px;
  min-height:40px;
  background-color:rgba(48, 49, 51, 1);
  border-radius:20px;
}
.Frame-4-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.q--open-image{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:5px;
  width:161px;
  min-width:161px;
  margin-top:5px;
  margin-bottom:5px;
  min-height:30px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:700;
  font-size:25px;
  letter-spacing:-0.42500001192092896px;
  line-height:30px;
}
.q--open-image-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.Frame-1-1{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:199px;
  width:63px;
  min-width:63px;
  height:42px;
  margin-top:-995px;
  margin-bottom:953px;
  min-height:42px;
  background-color:rgba(48, 49, 51, 1);
  border-radius:20px;
}
.Frame-1-1-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.edit{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:8px;
  width:47px;
  min-width:47px;
  margin-top:6px;
  margin-bottom:6px;
  min-height:30px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:700;
  font-size:25px;
  letter-spacing:-0.42500001192092896px;
  line-height:30px;
}
.edit-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.Frame-9{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:-10px;
  width:1460px;
  min-width:1460px;
  height:973px;
  margin-top:-963px;
  margin-bottom:-10px;
  min-height:973px;
}
.Frame-9-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.Rectangle-6{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:10px;
  width:1440px;
  min-width:1440px;
  height:953px;
  margin-top:10px;
  margin-bottom:10px;
  min-height:953px;
  background-color:rgba(240, 241, 242, 1);
}
.Rectangle-6-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.Frame-1{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:206px;
  width:1028px;
  min-width:1028px;
  height:648px;
  margin-top:-790px;
  margin-bottom:142px;
  min-height:648px;
}
.Frame-1-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.Rectangle-4{
  position:relative;
  z-index:17;
  pointer-events:auto;
  cursor:pointer;
  min-width:1008px;
  min-height:628px;
  background-color:rgba(220, 220, 220, 1);
  border-radius:5px;
  width:100%;
  height:100%;
}
.Rectangle-4-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.Rectangle-4-url{
  text-decoration:none;
  margin-left:10px;
  width:1008px;
  height:628px;
  margin-top:10px;
  margin-bottom:10px;
}
.Frame-8{
  position:relative;
  z-index:22;
  pointer-events:none;
  margin-left:623px;
  width:192px;
  min-width:192px;
  height:192px;
  margin-top:-651px;
  margin-bottom:459px;
  min-height:192px;
}
.Frame-8-outer{
  pointer-events:none;
  z-index:22;
  position:relative;
  display:flex;
}
.pic{
  position:relative;
  z-index:23;
  pointer-events:none;
  margin-left:5.208333333333333%;
  width:89.58333333333333%;
  height:89.58333333333333%;
  margin-top:5.208333333333333%;
  content:url(assets/images/pic.png);
}
.pic-outer{
  pointer-events:none;
  z-index:23;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Frame-14{
  position:relative;
  z-index:28;
  pointer-events:none;
  margin-left:588px;
  width:264px;
  min-width:264px;
  height:98px;
  margin-top:-439px;
  margin-bottom:341px;
  min-height:98px;
}
.Frame-14-outer{
  pointer-events:none;
  z-index:28;
  position:relative;
  display:flex;
}
.Rectangle-5{
  position:relative;
  z-index:29;
  pointer-events:none;
  margin-left:10px;
  width:244px;
  min-width:244px;
  height:78px;
  margin-top:10px;
  margin-bottom:10px;
  min-height:78px;
  content:url(assets/images/Rectangle_5.png);
}
.Rectangle-5-outer{
  pointer-events:none;
  z-index:29;
  position:relative;
  display:flex;
}
.Frame-15{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:588px;
  width:264px;
  min-width:264px;
  height:187px;
  margin-top:-439px;
  margin-bottom:252px;
  min-height:187px;
}
.Frame-15-outer{
  pointer-events:none;
  z-index:20;
  position:relative;
  display:flex;
}
.Frame-7{
  position:relative;
  z-index:21;
  pointer-events:none;
  margin-left:10px;
  width:244px;
  min-width:244px;
  height:167px;
  margin-top:10px;
  margin-bottom:10px;
  min-height:167px;
}
.Frame-7-outer{
  pointer-events:none;
  z-index:21;
  position:relative;
  display:flex;
}
.Frame-17{
  position:relative;
  z-index:32;
  pointer-events:none;
  margin-left:617px;
  width:59px;
  min-width:59px;
  height:67px;
  margin-top:-424px;
  margin-bottom:357px;
  min-height:67px;
}
.Frame-17-outer{
  pointer-events:none;
  z-index:32;
  position:relative;
  display:flex;
}
.Vector{
  position:relative;
  z-index:33;
  pointer-events:none;
  margin-left:16.949152542372882%;
  width:66.10169491525424%;
  height:70.14925373134328%;
  margin-top:16.949152542372882%;
  content:url(assets/images/Vector.png);
}
.Vector-outer{
  pointer-events:none;
  z-index:33;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Frame-16{
  position:relative;
  z-index:30;
  pointer-events:none;
  margin-left:674px;
  width:139px;
  min-width:139px;
  height:62px;
  margin-top:-421px;
  margin-bottom:359px;
  min-height:62px;
}
.Frame-16-outer{
  pointer-events:none;
  z-index:30;
  position:relative;
  display:flex;
}
.Upload{
  position:relative;
  z-index:31;
  pointer-events:none;
  margin-left:10px;
  width:119px;
  min-width:119px;
  margin-top:10px;
  margin-bottom:10px;
  min-height:42px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:700;
  font-size:35px;
  letter-spacing:-0.5950000166893006px;
  line-height:42.5px;
}
.Upload-outer{
  pointer-events:none;
  z-index:31;
  position:relative;
  display:flex;
}
.Frame-2{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:477px;
  width:484px;
  min-width:484px;
  height:62px;
  margin-top:-293px;
  margin-bottom:231px;
  min-height:62px;
}
.Frame-2-outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
.Upload-a-picture-to-{
  position:relative;
  z-index:19;
  pointer-events:none;
  margin-left:10px;
  width:464px;
  min-width:464px;
  margin-top:10px;
  margin-bottom:10px;
  min-height:42px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(102, 102, 102, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:700;
  font-size:35px;
  letter-spacing:-0.5950000166893006px;
  line-height:42.5px;
}
.Upload-a-picture-to--outer{
  pointer-events:none;
  z-index:19;
  position:relative;
  display:flex;
}
